.row.pt-5.pb-4
  .col-4
  .col-4.text-center
    .h1= 'NEWS'
    .font-weight-bold= 'お知らせ'
  .col-2
  .col-2.h4.text-center.align-self-end.new_more
    .pt-2.pb-2
      = link_to '#', class: 'pl-3' do
        = 'MORE'
        %i.fa.fa-angle-right.pl-3

- news = @news.each_slice(2).to_a
- news.each do |n|
  .row.pt-3
    - if n.length > 1
      .col-5.b-u.ml-3
        = n.first.title
        %br
        = n.first.text
      .col-1
      .col-5.b-u.ml-5
        = n.last.title
        %br
        = n.last.text
      .col-1
    - else
      .col-5.b-u.ml-3
        = n.first.title
        %br
        = n.first.text
      .col-1
      .col-5.ml-5
      .col-1
