.contents.mb-5.mt-5
  - @contents.each.with_index(1) do |n, i|
    .row.content
      .col-12{ class: n[:class] }
        .row
          .col-12{ class: "content-title#{i}" }= n[:ja]
        .slide-left{"data-plugin-options" => '{"offset": 0, "speed": 500}'}
          %div{ class: "under#{i}" }
        .row.mt-3.mb-2
          .col-12.content-text= n[:title]
        - n[:text].each do |t|
          .row
            .col-12.sp-content-text2= t
        .row.mt-3.mb-4
          .col-5
          .col-7
            = link_to n[:href], class: 'page-link text-dark d-inline-block more float-right' do
              = 'View More'
              %i.fa.fa-angle-right.pl-3
