= stylesheet_link_tag "anbridges", :media => "all"
.pt-5.pb-5= render partial: 'category_title', locals: { text: '不動産事業' }
.pt-5.pb-5= render partial: 'category_title3', locals: { text: '不動産事業のビジネスモデル'}
.pt-5.pb-5= render partial: 'category_title', locals: { text: '人材紹介事業' }
.pt-5.pb-5= render partial: 'category_title3', locals: { text: '人材紹介事業のビジネスモデル'}
.pt-5.pb-5= render partial: 'category_title2', locals: { text_ja: 'アクセス', text_es: 'ACCESS' }
= render 'google_map'
