= stylesheet_link_tag "anbridges", :media => "all"
.pt-5.pb-5= render partial: 'category_title', locals: { text: 'あなたの「キャリア」を活かせる場があります。' }
.pt-5.pb-5= render partial: 'category_title3-2', locals: { text: '組織'}
.pt-5.pb-5= render partial: 'category_title3-2', locals: { text: '事業'}
.pt-5.pb-5= render partial: 'category_title3-1', locals: { text: '募集職種'}
.pt-5.pb-5= render partial: 'category_title3-1', locals: { text: '転職者インタビュー'}
.pt-5.pb-5= render partial: 'category_title3-1', locals: { text: 'エントリー方法'}
.pt-5.pb-5= render partial: 'category_title3-2', locals: { text: '募集要項'}
.pt-5.pb-5= render partial: 'category_title2', locals: { text_ja: 'アクセス', text_es: 'ACCESS' }
= render 'google_map'
