.company
  .row.pt-5
    .col-5.title 会　社　名
    .col-7.text= simple_format("株式会社　Anbridge")
  .row
    .col-5.title 設　立
    .col-7.text= simple_format("2019年2月")
  .row
    .col-5.title 所　在　地
    .col-7.text= simple_format("〒113-0033\n東京都文京区本郷1-4-4\n水道橋ビル　6階")
  .row
    .col-5.title 連　絡　先
    .col-7.text= simple_format("t. 03-5615-9953\nf. 03-5615-9954")
  .row
    .col-5.title 代表取締役
    .col-7.text= simple_format("稲森健太")
  .row
    .col-5.title 登　録
    .col-7.text= simple_format("有料職業紹介事業許可\n許可番号：13-ユ-310972")
  .row
    .col-5.title 社会保険労務士
    .col-7.text= simple_format("奥村広美さくら事務所")
  .row
    .col-5.title 顧問税理士
    .col-7.text= simple_format("岩崎信也")
  .row.mt-3.mb-3
    .col-12= render 'google_map'
