.container-fluid
  .row.mission
    .col-12
      .title-en= 'MISSION'
      .title-ja= 'ミッション'
    .col-6
  .row.mission.pb-3
    .col-12.text-left.content-title= simple_format "未来を創造し、\n関わる全ての人を幸せに。"
  .row.mission.pb-5
    .col-12.text-left.mission-text= simple_format "全従業員とその家族をはじめ、顧客、取引先、関わる全ての人の幸せと、明るい未来を創造することに、全力で挑戦し続けます。"

  .row.mission
    .col-12.pr-0.pl-0= image_tag 'filler-3363661_1920.jpg', class: 'mission-img'

  .row.mission.pt-5
    .col-6
      .title-en= 'Credo'
      .title-ja= 'クレド'
    .col-6
  .row.mission.pb-5
    .col-6.text-center
      .row
        .col-12 Anbridgeコア(不変の存在意義)
      .row
        .col-12.content-text= simple_format "社会問題を解決する"
      .row.pt-5
        .col-12 Anbridgアクション(実現に向けての動き)
      .row
        .col-12.content-text= simple_format "人材の可能性を最大限に引き出すことで、\n今までにない価値と機会を切り拓く"
      .row.pt-5
        .col-12 Anbridgエネルギー(原動力となるエンジン)
      .row
        .col-12.content-text= simple_format "無限の成長・破壊的イノベーション\n圧倒的成長を続ける個人×多種多様な最強のチーム"
      .row.pt-5
        .col-12 Anbridgの口癖(Anbridgeのカルチャー)
      .row
        .col-12.content-text= simple_format "やってみよう　楽しんでいこう"
      .row.pt-5
        .col-12 Anbridgの未来。(私たちのビジョン)
      .row
        .col-12.content-text= simple_format " 働く人をもっと幸せに。イノベーションに情熱を。\nすべての人に思いやりと笑顔を。"
    .col-6
      .row
        .col-12.text-left.mission-text= simple_format "Professional（当たり前のことを当たり前に、常に顧客の立場に立って物事を考え、その仕事に責任を持って取り組むこと。）"
      .row
        .col-12.text-left.mission-text= simple_format "Win-Win-Win（自らの利益のみならず、買い手である顧客はもちろん、世の中にとって良いものを提供する）"
      .row
        .col-12.text-left.mission-text= simple_format "謙虚に驕らず（驕らず常に学ぶ姿勢で、謙虚に上には上がいることを忘れない。）"
      .row
        .col-12.text-left.mission-text= simple_format "Hybrid Life（よく働き、よく遊ぶ。仕事も趣味も全力で魅力ある人間に。）"
      .row
        .col-12.text-left.mission-text= simple_format "失敗を賞賛する（自ら機会を創り出し、機会によって自らを変えよ。待っていても会社は機会を与えない。挑戦した後の失敗より、何もしないことを恐れろ。）"
      .row
        .col-12.text-left.mission-text= simple_format "No.pein No.gein（苦労なくして得られるものはない。努力する者は夢を語り、怠ける物は不満を語る。）"
      .row
        .col-12.text-left.mission-text= simple_format "自由と責任（自分に起こる全てのことに１００％責任を持つこと。)"
  .row.mission.pb-5
    .col-12.pr-0.pl-0= image_tag 'S__32530443.jpg', class: 'mission-img'
