.container-fluid
  .row.mission.pb-5
    .row.ml-5
      .col-12.text-left.content-title= simple_format "未来を創造し、関わる全ての人を幸せに。"
    .row.ml-5
      .col-12.text-left.mission-text= simple_format "全従業員とその家族をはじめ、顧客、取引先、関わる全ての人の幸せと、\n明るい未来を創造することに、全力で挑戦し続けます。"

  .row.mission
    .col-12.pr-0.pl-0= image_tag 'filler-3363661_1920.jpg', class: 'mission-img'

  .row.mission.ml-2.pt-3
    .col-12.content-title What Credo?
  .row.mission.ml-2
    .col-12= simple_format "CREDO（クレド）は、ラテン語で「志」「約束」「信条」を表す言葉。\nAnbridgeで働くすべての人が共有すべき価値観です。\nビジネスが拡大し、企業規模が大きくなる中で、会社・社員の向かうベクトルを示し、社員一人ひとりが、判断し行動できるよう、「CREDO」を掲げることにしました。"
.m-bg-g
  .container-fluid
    .row.mission.ml-2.jsTopContent
      .col-12.mission-text 1. Professional
    .row.mission.ml-2
      .col-12.credo-text 当たり前のことを当たり前に、常に顧客の立場に立って物事を考え、その仕事に責任を持って取り組むこと。
    .row.mission.ml-2.pt-3
      .col-12.mission-text 2. Win-Win-Win
    .row.mission.ml-2
      .col-12.credo-text 自らの利益のみならず、買い手である顧客はもちろん、世の中にとって良いものを提供する。
    .row.mission.ml-2.pt-3
      .col-12.mission-text 3. 謙虚に驕らず
    .row.mission.ml-2
      .col-12.credo-text 驕らず常に学ぶ姿勢で、謙虚に上には上がいることを忘れない。
    .row.mission.ml-2.pt-3
      .col-12.mission-text 4. Hybrid Life
    .row.mission.ml-2
      .col-12.credo-text よく働き、よく遊ぶ。仕事も趣味も全力で魅力ある人間に。
    .row.mission.ml-2.pt-3
      .col-12.mission-text 5. 失敗を賞賛する
    .row.mission.ml-2
      .col-12.credo-text 自ら機会を創り出し、機会によって自らを変えよ。待っていても会社は機会を与えない。挑戦した後の失敗より、何もしないことを恐れろ。
    .row.mission.ml-2.pt-3
      .col-12.mission-text 6. No.pain No.gain
    .row.mission.ml-2
      .col-12.credo-text 苦労なくして得られるものはない。努力する者は夢を語り、怠ける物は不満を語る。
    .row.mission.ml-2.pt-3
      .col-12.mission-text 7. 自由と責任
    .row.mission.ml-2
      .col-12.credo-text 自分に起こる全てのことに100％の自責と責任を持つこと。

    .row.mission
      .col-12.pr-0.pl-0= image_tag 'spirit.png', class: 'mission-img'

    .row.mission.ml-2.pt-3
      .col-12.content-title What Spirit?
    .row.mission.ml-2
      .col-8= simple_format "我々アンブリッジ社員一同は以下の精神を大切にし、社会と個人の成長に貢献します。"
    .row.mission.ml-2
      .col-12.mission-text 1. AnbridgeのCORE(存在意義)
    .row.mission.ml-2
      .col-12.credo-text 社会問題を解決する。
    .row.mission.ml-2.pt-3
      .col-12.mission-text 2. AnbridgeのACTION(実現に向けての動き)
    .row.mission.ml-2
      .col-12.credo-text 人材の可能性を最大限に引き出すことで、今までにない価値と機会を切り拓く。
    .row.mission.ml-2.pt-3
      .col-12.mission-text 3. Anbridgeの未来(原動力となるエネルギー)
    .row.mission.ml-2.mb-5
      .col-12.credo-text 働く人をもっと幸せに。すべての人に思いやりと笑顔を。
