.container-fluid
  .row.misson.pb-5
    .col-6
      .title-en= 'Mission'
      .title-ja= '使命'
    .col-6
  .row.misson.pb-5
    .col-6.text-left.content-title= simple_format "未来を創造し、\n関わる全ての人を幸せに。"
    .col-6.text-left.misson-text= simple_format "全従業員とその家族をはじめ、\n顧客、取引先、関わる全ての人の幸せと、\n明るい未来を創造することに、全力で挑戦し続けます。"

  .row.misson
    .col-12.pr-0.pl-0= image_tag 'filler-3363661_1920.jpg', class: 'misson-img'

  .row.misson.pt-5
    .col-6
      .title-en= 'Credo'
      .title-ja= 'クレド'
    .col-6
  .row.misson.pb-5
    .col-6.text-left.content-title
    .col-6
      .row
        .col-12.text-left.misson-text= simple_format "1. Professional（当たり前のことを当たり前に、常に顧客の立場に立って物事を考え、その仕事に責任を持って取り組むこと。）"
      .row
        .col-12.text-left.misson-text= simple_format "2. Win-Win-Win（自らの利益のみならず、買い手である顧客はもちろん、世の中にとって良いものを提供する）"
      .row
        .col-12.text-left.misson-text= simple_format "3. 謙虚に驕らず（驕らず常に学ぶ姿勢で、謙虚に上には上がいることを忘れない。）"
      .row
        .col-12.text-left.misson-text= simple_format "4. Hybrid Life（よく働き、よく遊ぶ。仕事も趣味も全力で魅力ある人間に。）"
      .row
        .col-12.text-left.misson-text= simple_format "5. 失敗を賞賛する（自ら機会を創り出し、機会によって自らを変えよ。待っていても会社は機会を与えない。挑戦した後の失敗より、何もしないことを恐れろ。）"
      .row
        .col-12.text-left.misson-text= simple_format "6. No.pein No.gein（苦労なくして得られるものはない。努力する者は夢を語り、怠ける物は不満を語る。）"
      .row
        .col-12.text-left.misson-text= simple_format "7. 自由と責任（自分に起こる全てのことに１００％責任を持つこと。)"
  .row.misson.pb-5
    .col-12.pr-0.pl-0= image_tag 'S__32530443.jpg', class: 'misson-img'
