.row.misson
  .col-6
    .title-en= 'Philosophy'
    .title-ja= '理念'
  .col-6
.row.misson
  .col-12.text-center= "テキスト"
.row.misson
  .col-12.text-center= "テキスト"
.row.misson
  .col-12.text-center= "テキスト"
.row.misson
  .col-6
    .title-en= 'Credo'
    .title-ja= 'クレド'
  .col-6
.row.misson
  .col-12.text-center= "テキスト"
.row.misson
  .col-12.text-center= "テキスト"
.row.misson
  .col-12.text-center= "テキスト"
