= form_for @admin_session do |f|
  - if @admin_session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_session.errors.count, "error")} prohibited this admin_session from being saved:"
      %ul
        - @admin_session.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
