= form_for @news do |f|
  - if @news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"
      %ul
        - @news.errors.full_messages.each do |message|
          %li= message

  .form-group.row
    .col-2.col-form-label= f.label :title, 'タイトル'
    .col-10= f.text_field :title, class: 'form-control'
  .form-group.row
    .col-2.col-form-label= f.label :tag, 'タグ'
    .col-10= f.select :tag, options_for_select(['お知らせ', 'プレス', 'その他'], selected: @news.tag ),
      {}, { class: 'form-control' }

  - f.nested_fields_for :news_contents do |nc|
    .form-group.row
      .col-2.col-form-label= nc.label :overview, 'タイトル'
      .col-10= nc.text_field :overview, class: 'form-control'
  = f.add_nested_fields_link :news_contents, 'Add new', class: 'btn btn-primary'

  .form-group.row
    .col-8
    .col-4.text-right
      = link_to '戻る', news_index_path, class: 'btn btn-outline-warning'
      = f.submit '保存', class: 'btn btn-outline-primary'
