.row
  .col-12
    #notice= notice

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th タイトル
      %th タグ
      %th 概要


  %tbody
    %tr
      %td= @news.title
      %td= @news.tag
      %td= @news.text

.row
  .col-12.text-right
    = link_to '戻る', news_index_path, class: 'btn btn-outline-warning'
    = link_to '編集', edit_news_path(@news), class: 'btn btn-outline-success'
