- if notice.present?
  .row
    .col-12
      .alert.alert-primary= notice

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th タイトル
      %th タグ

  %tbody
    %tr
      %td= @news.title
      %td= @news.tag

.row
  .col-12.text-right
    = link_to '戻る', news_index_path, class: 'btn btn-outline-warning'
    = link_to '編集', edit_news_path(@news), class: 'btn btn-outline-success'
