!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}/
    %title 株式会社アンブリッジ
    -# TODO
    -# = favicon_link_tag('favicon.ico')
    %meta{:content => "転職、就職ならAnbride、面接サポートや履歴書添削も無料、あなたの転職をサポートします", :name => "Description"}/
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAbSZbTc-2mgxXNxAVFlTjlhOvqFV3zk-I&callback=initMap"
    = csrf_meta_tags

    = stylesheet_link_tag  "anbridges", :media => "all"
    = stylesheet_link_tag  "animate", :media => "all"

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    #loader-bg
      #loader
        = image_tag 'logo_loading', size: '150x150', alt: 'Now Loading...'
        .container
          .row
            .col-12.text-center.loading NowLoading...
    .main{ id: "#{controller.controller_name}" }
      - if controller.action_name == 'index'
        = render 'column1'
      - else
        .container-fluid= render partial: 'page_title', locals: @title

      .container-fluid= render 'header'
      .container-fluid= yield
      .container-fluid
        %footer
          .row
            .col-12
              = render 'footer'
