!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title 株式会社アンブリッジ
    %meta{:content => "転職、就職ならAnbride、面接サポートや履歴書添削も無料、あなたの転職をサポートします", :name => "Description"}/
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAbSZbTc-2mgxXNxAVFlTjlhOvqFV3zk-I&callback=initMap"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #loader-bg
      #loader
        = image_tag 'logo_loading', size: '80x80', alt: 'Now Loading...'
        %br
        %br Now Loading...
    .main{ id: "#{controller.controller_name}" }
      - if controller.action_name == 'index'
        = render 'column1'
      - else
        = render partial: 'page_title', locals: @title

      .container
        = render 'header'
        = yield
        %footer
          .row.pt-3.pb-3.mt-3
            .col-12
              = render 'footer'
