!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}/
    %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/
    %meta{:content => "転職、就職ならAnbride、面接サポートや履歴書添削も無料、あなたの転職をサポートします", :name => "Description"}/

    %title 株式会社アンブリッジ
    = favicon_link_tag
    = javascript_include_tag "http://maps.google.com/maps/api/js?key=AIzaSyBIWFzNYwmqEZ08DPLUhqaNKiZ9H154G2o&language=ja"
    = csrf_meta_tags
    = stylesheet_link_tag  "anbridges", :media => "all"
    = stylesheet_link_tag  "animate", :media => "all"
    = javascript_include_tag 'application'

  %body
    #loader-bg
      #loader
        = image_tag 'logo_loading', size: '150x150', alt: 'Now Loading...'
        .container
          .row
            .col-12.text-center.loading NowLoading...
    .main{ id: "#{controller.controller_name}" }
      - case controller.action_name
      - when 'index' then
        = render 'column1'
        #index-background
      - when 'company' then
        .container-fluid.page-title.company-profile1= render partial: 'page_title', locals: @title
      - when 'misson' then
        .container-fluid.page-title2= render partial: 'page_title2', locals: @title
      - when 'service' then
        .container-fluid.page-title3= render partial: 'page_title3'
      - when 'recruit' then
        .container-fluid.page-title4= render partial: 'page_title4'

      .container-fluid= render 'header'
      = yield
      .container-fluid
        %footer
          .row
            .col-12
              = render 'footer'
