!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}/
    %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/
    %meta{:content => "転職、就職ならAnbride、面接サポートや履歴書添削も無料、あなたの転職をサポートします", :name => "Description"}/
    %meta{:content => "2BBzQhFS0bht0mE0tAnTKR_vPj3LKbj1ZULEeUhhKnE", :name => "google-site-verification"}/
    %title 株式会社アンブリッジ(株式会社 Anbride)

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBIWFzNYwmqEZ08DPLUhqaNKiZ9H154G2o"
    = csrf_meta_tags
    = stylesheet_link_tag  "anbridges", :media => "all"
    = stylesheet_link_tag  "animate", :media => "all"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag

  %body
    #menu-bg
    #loader-bg
      #loader
        = image_tag 'logo_loading', size: '150x150', alt: 'Now Loading...'
        .container
          .row
            .col-12.text-center.loading NowLoading...
    .main{ id: "#{controller.controller_name}_smart_phone" }
      .container-fluid= render 'header_smart_phone'
      - case controller.action_name
      - when 'index' then
        = render 'column1_smart_phone'
      - when 'company' then
        .container-fluid.page-title.company-profile1= render partial: 'page_title', locals: @title
      - when 'misson' then
        .container-fluid.page-title2= render partial: 'page_title2_s', locals: @title
      - when 'service' then
        .container-fluid.page-title3= render partial: 'page_title3_s', locals: @title
      - when 'recruit' then
        .container-fluid.page-title4= render partial: 'page_title4_s', locals: @title

      .container-fluid= yield
    %footer
      .container-fluid
        .row
          .col-12.sp-footer= render 'footer'
