!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ content: '転職、就職ならAnbride、面接サポートや履歴書添削も無料、あなたの転職をサポートします', name: 'Description'}/
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}/
    %title 株式会社アンブリッジ
    -# TODO
    -# = favicon_link_tag('favicon.ico')

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid.header.fixed-top= render 'portal/common/header'
    .container-fluid.main= yield
    .container-fluid.footer= render 'portal/common/footer'
